<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a><cite>AxieOrigin</cite></a>
    <a><cite>自动购买记录</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layadmin-search">
      <form class="layui-form" method="post" lay-filter="form_auto_purchase_search">
        <script type="text/html" template lay-done="layui.data.done()">
          <div class="layui-inline">
            <div class="layui-form-label">状态</div>
            <div class="layui-input-inline">
              <select name="status" lay-filter="opt_status">
                <option value="">全部</option>
                <option value="done" selected>购买成功</option>
                <option value="fail">购买失败</option>
              </select>
            </div>
          </div>
          <div class="layui-inline layui-btn-group">
            <button type="submit" lay-submit class="layui-btn" lay-filter="submit_auto_purchase_search">
              <i class="layui-icon layui-icon-search"></i>查询
            </button>
            <button type="submit" lay-submit class="layui-btn layui-btn-warm"
                    lay-filter="reset_auto_purchase_search">
              <i class="layui-icon layui-icon-close"></i>重置
            </button>
          </div>
        </script>
      </form>
    </div>
    <div class="layui-card-body">
      <div id="table_auto_purchase"></div>
      <script type="text/html" id="tpl_query_name">
        {{d.auto_purchase.query_monitor.query_name}}
      </script>
      <script type="text/html" id="tpl_axie">
        <a class="layui-table-link" href="https://app.axieinfinity.com/marketplace/axies/{{d.axie_id}}/"
           target="_blank">{{d.axie_id}}</a>
      </script>
      <script type="text/html" id="tpl_price">
        {{# if (d.trans_hash) { }}
        <a class="layui-table-link" href="https://explorer.roninchain.com/tx/{{d.trans_hash}}/"
           target="_blank">{{d.display_eth_price}}</a>
        {{# }else { }}
        {{d.display_eth_price}}
        {{# } }}
      </script>
      <script type="text/html" id="tpl_status">
        {{# let status = d.status.value }}
        {{# if (status === 'done') {  }}
        <span class="layui-font-green">购买成功</span>
        {{# } else if (status === 'fail') {  }}
        <span class="layui-font-red" lay-tips="{{d.remark}}">购买失败</span>
        {{# } else { }}
        <span class="layui-font-orange">确认中</span>
        {{# } }}
      </script>
      <script type="text/html" id="tpl_tool">
        <a class="layui-table-link layui-font-green" lay-event="edit">
          <i class="layui-icon layui-icon-edit"></i>编辑
        </a>
        <div class="ant-divider"></div>
        <a class="layui-table-link layui-font-red" lay-event="del">
          <i class="layui-icon layui-icon-delete"></i>删除
        </a>
      </script>
    </div>
  </div>
</div>

<script>
  layui.data.done = function () {
    layui.use(['fox_table'], function () {
      let $ = layui.$
        , fox_table = layui.fox_table
        , form = layui.form

      form.render()
      let resourceUrl = 'admin/auto_purchases'

      // 列表查询
      fox_table.render({
        id: 'table_auto_purchase'
        , url: resourceUrl + '?status=done'
        , cols: [[
          {title: 'ID', field: 'id', width: 80, align: "center", sort: true}
          , {title: '查询名称', templet: '#tpl_query_name', minWidth: 200}
          , {title: 'AxieID', templet: '#tpl_axie', width: 200}
          , {title: '购买价格', templet: '#tpl_price', width: 200}
          , {title: '购买时间', field: 'created_at', width: 180, align: "center"}
          , {title: '状态', templet: '#tpl_status', width: 200, align: "center"}
        ]]
      })
      ;

      //搜索
      form.on('submit(submit_auto_purchase_search)', function (d) {
        fox_table.reload(d.field);
        return false;
      });
      form.on('select(opt_status)', function (d) {
        fox_table.reload({
          status: d.value
        });
        return false;
      });
      //重置
      form.on('submit(reset_auto_purchase_search)', function (d) {
        $("input[name='keyword']").val('');
        fox_table.reload({});
        return false;
      });
    })
  }
</script>

