<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a><cite>AxieOrigin</cite></a>
    <a><cite>对战记录</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layadmin-search">
      <form class="layui-form" method="post" lay-filter="form_history_search">
        <script type="text/html" template lay-done="layui.data.done()">
          <div class="layui-inline">
            <div class="layui-form-label">用户名</div>
            <div class="layui-input-inline">
              <input type="text" name="keyword" value="{{ decodeURIComponent(layui.router().search.keyword || '')}}"
                     class="layui-input"
                     placeholder="用户名关键字">
            </div>
          </div>
          <div class="layui-inline">
            <div class="layui-form-label">战斗类型</div>
            <div class="layui-input-inline">
              <select name="battle_type">
                <option value="">全部</option>
                <option value="ranked_pvp">ranked_pvp</option>
                <option value="challenge_pvp">challenge_pvp</option>
                <option value="practice_pvp">practice_pvp</option>
                <option value="blitz_pvp">blitz_pvp</option>
              </select>
            </div>
          </div>
          <div class="layui-inline layui-btn-group">
            <button type="submit" lay-submit class="layui-btn" lay-filter="submit_history_search">
              <i class="layui-icon layui-icon-search"></i>查询
            </button>
            <button type="submit" lay-submit class="layui-btn layui-btn-warm"
                    lay-filter="reset_history_search">
              <i class="layui-icon layui-icon-close"></i>重置
            </button>
          </div>
        </script>
      </form>
    </div>
    <div class="layui-card-body">
      <div id="table_history"></div>
      <script type="text/html" id="tpl_user_1">
        {{# if (d.user_rank > 0) { }}
        <span class="layui-badge layui-bg-green">#{{d.user_rank}}</span>
        {{# } }}
        {{# if (d.user) { }}
        <a class="layui-table-link" lay-href="/axie/user/user_id={{d.user.user_id}}">
          {{d.user.nick_name || d.user.profile_name}}
        </a>
        {{# } }}
      </script>
      <script type="text/html" id="tpl_user_2">
        {{# if (d.enemy_rank) { }}
        <span class="layui-badge layui-bg-green">#{{d.enemy_rank}}</span>
        {{# } }}
        {{# if (d.enemy) { }}
        <a class="layui-table-link" lay-href="/axie/user/user_id={{d.enemy.user_id}}">
          {{d.enemy.nick_name || d.enemy.profile_name}}
        </a>
        {{# } }}
      </script>
      <script type="text/html" id="tpl_battle">
        {{# if (d.user_team && d.user_team.axies) { }}
        {{# layui.each(d.user_team.axies, function(index, axie){  }}
        <a href="https://app.axieinfinity.com/marketplace/axies/{{axie.axie_id}}" target="_blank">
          {{# if (axie.axie_type === 'starter') { }}
          <image src="https://axies.io/images/starter-axies/{{axie.axie_id}}.png"
                 style="width:70px;margin-left: -10px;" alt="{{axie.axie_id}}"></image>
          {{# } else { }}
          <image src="https://axiecdn.axieinfinity.com/axies/{{axie.axie_id}}/axie/axie-full-transparent.png"
                 style="width:70px;margin-left: -10px;" alt="{{axie.axie_id}}"></image>
          {{# } }}
        </a>
        {{# if (axie.rune_info) { }}
        <image src="{{axie.rune_info.logo_url}}" style="width: 16px;margin-left: -18px;"
               lay-tips="{{axie.rune_info.name}}"></image>
        {{# }else{ }}
        <image src="https://storage.googleapis.com/origin-production/assets/item/{{axie.rune}}.png"
               style="width: 16px;margin-left: -18px;"
               lay-tips="{{axie.rune}}"></image>
        {{# } }}
        {{# }) }}
        {{# } }}
        <span style="padding: 0 10px">
        {{# if (d.result === 'win') { }}
        <span class="layui-badge layui-bg-green">胜</span>
        {{# } else if (d.result === 'lose') { }}
        <span class="layui-badge layui-bg-red">负</span>
        {{# } else { }}
        <span class="layui-badge layui-bg-orange">平</span>
        {{# }  }}
        </span>
        {{# if (d.enemy_team && d.enemy_team.axies) { }}
        {{# layui.each(d.enemy_team.axies, function(index, axie){  }}
        <a href="https://app.axieinfinity.com/marketplace/axies/{{axie.axie_id}}" target="_blank">
          {{# if (axie.axie_type === 'starter') { }}
          <image src="https://axies.io/images/starter-axies/{{axie.axie_id}}.png"
                 style="width:70px;margin-left: -10px;" alt="{{axie.axie_id}}"></image>
          {{# } else { }}
          <image src="https://axiecdn.axieinfinity.com/axies/{{axie.axie_id}}/axie/axie-full-transparent.png"
                 style="width:70px;margin-left: -10px;" alt="{{axie.axie_id}}"></image>
          {{# } }}
        </a>
        {{# if (axie.rune_info) { }}
        <image src="{{axie.rune_info.logo_url}}" style="width: 16px;margin-left: -18px;"
               lay-tips="{{axie.rune_info.name}}"></image>
        {{# }else{ }}
        <image src="https://storage.googleapis.com/origin-production/assets/item/{{axie.rune}}.png"
               style="width: 16px;margin-left: -18px;"
               lay-tips="{{axie.rune}}"></image>
        {{# } }}
        {{# }) }}
        {{# } }}
      </script>
    </div>
  </div>
</div>

<script>
  layui.data.done = function (obj) {
    layui.use(['fox_table'], function () {
      let $ = layui.$
        , fox_table = layui.fox_table
        , admin = layui.admin
        , form = layui.form
      $("select[name='battle_type']").val(layui.router().search.battle_type)
      form.render()

      let resourceUrl = 'admin/battle_histories'

      // 列表查询
      fox_table.render({
        id: 'table_history'
        , url: resourceUrl
        , cols: [[
          {title: '对战时间', field: 'battle_time', width: 230}
          , {title: '对战类型', field: 'battle_type', width: 140, align: "center"}
          , {title: '用户1', templet: '#tpl_user_1', width: 150, align: "left"}
          , {title: '用户2', templet: '#tpl_user_2', width: 150, align: "left"}
          , {title: '对战详情', templet: '#tpl_battle', minWidth: 200, align: "center"}
        ]]
      });


      //搜索
      form.on('submit(submit_history_search)', function (d) {
        fox_table.reload(d.field);
        return false;
      });
      //重置
      form.on('submit(reset_history_search)', function (d) {
        $("input[name='keyword']").val('');
        $("select[name='battle_type']").val('');
        form.render()
        fox_table.reload({});
        return false;
      });
    })
  }
</script>

