<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a><cite>AxieOrigin</cite></a>
    <a><cite>排行榜</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layadmin-search">
      <form class="layui-form" method="post" lay-filter="form_leaderboard_search">
        <script type="text/html" template lay-done="layui.data.done()">
          <div class="layui-inline">
            <div class="layui-form-label">关键字搜索</div>
            <div class="layui-input-inline" style="width: 250px">
              <input type="text" name="keyword" value="{{decodeURIComponent(layui.router().search.keyword || '')}}"
                     class="layui-input" placeholder="支持用户名,ID，地址或RNS域名关键字">
            </div>
          </div>
          <div class="layui-inline">
            <div class="layui-form-label">队伍类型</div>
            <div class="layui-input-inline">
              <select name="team_label" lay-filter="opt_team_label">
                <option value="">全部</option>
              </select>
            </div>
          </div>
          <div class="layui-inline layui-btn-group">
            <button type="submit" lay-submit class="layui-btn" lay-filter="submit_leaderboard_search">
              <i class="layui-icon layui-icon-search"></i>查询
            </button>
            <button type="submit" lay-submit class="layui-btn layui-btn-warm"
                    lay-filter="reset_leaderboard_search">
              <i class="layui-icon layui-icon-close"></i>重置
            </button>
          </div>
          <div class="layui-inline layui-word-aux" style="padding-top: 20px">
            <a lay-href="axie/leaderboard_summary" style="text-decoration:underline;"
               class="layui-font-blue">查看队伍统计</a>
          </div>
        </script>
      </form>
    </div>
    <div class="layui-card-body">
      <div id="table_leaderboard"></div>
      <script type="text/html" id="tpl_user">
        {{# if(d.user.rns_name) {}}
        <span class="layui-badge layui-bg-green">{{d.user.rns_name}}</span>
        {{# } }}
        <a class="layui-table-link" lay-href="axie/user/user_id={{d.user_id}}"
           lay-tips="{{d.user.profile_name}}">
          {{d.user_name}}
        </a>
      </script>
      <script type="text/html" id="tpl_team_label">
        {{# if (d.team) { }}
        {{d.team.type_label || '-' }}
        {{# } }}
      </script>
      <script type="text/html" id="tpl_active">
        {{# if (d.idle_minutes <=10) { }}
        <span class="layui-badge layui-bg-green" lay-tips="最近10分钟活跃">
        {{# } else if (d.idle_minutes <=20) { }}
        <span class="layui-badge layui-bg-orange" lay-tips="最近20分钟活跃">
        {{# } else { }}
        <span>
        {{# } }}
        {{d.last_active_time}}
        </span>
      </script>
      <script type="text/html" id="tpl_team">
        {{# if (d.team && d.team.axies) { }}
        {{# layui.each(d.team.axies, function(index, axie){  }}
        <a class="layui-table-link" lay-tips="点击查找相似axie" lay-event="similar_{{index}}" target="_blank">
          {{# if (axie.axie_type === 'starter') { }}
          <image src="https://axies.io/images/starter-axies/{{axie.axie_id}}.png"
                 style="width:70px; margin-left: -10px" alt="{{axie.axie_id}}"></image>
          {{# } else { }}
          <image src="https://axiecdn.axieinfinity.com/axies/{{axie.axie_id}}/axie/axie-full-transparent.png"
                 style="width:70px; margin-left: -10px" alt="{{axie.axie_id}}"></image>
          {{# } }}
        </a>
        {{# if (axie.rune_info) { }}
        <image src="{{axie.rune_info.logo_url}}" style="width: 16px;margin-left: -15px"
               lay-tips="{{axie.rune_info.name}}"></image>
        {{# }else{ }}
        <image src="https://storage.googleapis.com/origin-production/assets/item/{{axie.rune}}.png"
               style="width: 16px;margin-left: -15px"
               lay-tips="{{axie.rune}}"></image>
        {{# } }}
        {{# }) }}
        {{# } }}
      </script>
      <script type="text/html" id="tpl_tool">
        <a class="layui-table-link layui-font-green" lay-event="edit">
          <i class="layui-icon layui-icon-edit"></i>编辑
        </a>
        <div class="ant-divider"></div>
        <a class="layui-table-link layui-font-red" lay-event="del">
          <i class="layui-icon layui-icon-delete"></i>删除
        </a>
      </script>
    </div>
  </div>
</div>

<script>
  layui.data.done = function () {
    layui.use(['fox_table'], function () {
      let $ = layui.$
        , admin = layui.admin
        , fox_table = layui.fox_table
        , form = layui.form
        , view = layui.view

      $('select[name="team_label"]').val(layui.router().search.status);
      let resourceUrl = 'admin/leaderboards'

      admin.get('admin/team_labels', function (res) {
        res.data.forEach((row) => {
          let opt = new Option(row.type_label, row.type_label);
          if (decodeURIComponent(layui.router().search.team_label) == row.type_label) {
            opt.selected = true;
          }
          $('select[name="team_label"]').append(opt)
        })
        form.render()
      })

      // 列表查询
      fox_table.render({
        id: 'table_leaderboard'
        , url: resourceUrl
        , cols: [[
          {title: '排名', field: 'top_rank', width: 80, align: "center"}
          , {title: '玩家昵称', templet: '#tpl_user', minWidth: 200}
          , {title: '积分', field: 'vstar', width: 100}
          , {title: '队伍类型', templet: '#tpl_team_label', width: 120}
          , {title: '队伍', templet: '#tpl_team', width: 250, align: "center"}
          , {title: '同步时间', field: 'updated_at', width: 180, align: "center"}
          , {title: '最近活跃时间', templet: '#tpl_active', width: 180, align: "center"}
        ]]
      })

      //监听操作栏
      fox_table.toolbar(function (obj) {
        let data = obj.data;
        if (obj.event.startsWith('similar')) {
          let idx = obj.event.replace('similar_', '')
            , axie = obj.data.team.axies[idx]
          showSimilarAxies(axie)
        }
      })

      //搜索
      form.on('submit(submit_leaderboard_search)', function (d) {
        fox_table.reload(d.field);
        return false;
      });
      form.on('select(opt_status)', function (d) {
        fox_table.reload({
          status: d.value
        });
        return false;
      });
      //重置
      form.on('submit(reset_leaderboard_search)', function (d) {
        $("input[name='keyword']").val('');
        $("select[name='team_label']").val('');
        form.render()
        fox_table.reload({});
        return false;
      });

      //显示弹窗
      function showSimilarAxies(data) {
        data = data || {};
        let minWidth = '1000px';
        let minHeight = '600px';
        admin.popup({
          title: '查看相似的Axie'
          , area: [minWidth, minHeight]
          , id: 'popup_similar_axies'
          , success: function (layero, index) {
            view(this.id).render('axie/similar_axies', data).done(function () {
            })
          }
        })
      }
    })
  }
</script>

